* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    border-bottom: 5px rgb(114, 114, 114) dashed;
    background-color: rgb(255, 188, 101);
    text-align: center;
    font-size: 65px;
    padding-top: 20px;
    font-family: 'Special Elite', cursive;
}

#open p {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    border: 4px rgb(255, 163, 42) double;
    background-color: rgba(211, 211, 211, 0.8);
    color: rgb(0, 0, 0);
    font-size: 28px;
    min-width: 800px;
    max-width: 1000px;
    margin: 15px auto;
    padding: 10px 5px; 
    font-family: 'Merienda', cursive;
}

#main {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 4px rgb(255, 163, 42) double;
    background-color: rgba(211, 211, 211, 0.8);
    color: rgb(0, 0, 0);
    font-size: 25px;
    min-width: 800px;
    max-width: 1000px;
    margin: 15px auto;
    padding: 10px 5px; 
    text-align: center;
    font-family: 'Merienda', cursive;
}

#main ul li {
    display: inline-block;
}

#hasil{
    padding-top: 10px;
    font-weight: 800;
    font-family: 'Special Elite', cursive;
}

#code1, #uniq, #conAlph, #conNum, #clear {
    font-size: 25px;
    font-family: 'Special Elite', cursive;
}


#code1 {
    width: 150px;
    text-align: center;
}

#conAlph, #conNum, #clear {
    padding: 6px;
    font-weight: 500;
    color: rgb(59, 59, 59);
    border:grey 2px solid;
    border-radius: 10px;
}

#conAlph:hover, #conNum:hover, #clear:hover {
    border: rgba(255, 0, 0, 0.7) 2px solid;
    background-color: rgba(226, 226, 226, 0.7);
}